.button {
    display: inline-block;
    margin: 0;
    padding: 20px 60px;

    cursor: pointer;

    outline: none;

    font-family: inherit;
    color: #20B3EF;
    background-color: #ffffff;

    text-align: center;

    border: 1px solid #20b3ef;
    border-radius: 8px;

    transition: color, opacity, background-color 250ms;

    &_is_primary {
        background-color: #20b3ef;
        border-color: #20b3ef;
        color: #ffffff;
        opacity: 1.0;

        &:hover {
            background-color: #20b3ef;
            color: #ffffff;
            opacity: 0.8;
        }
    }

    &__submit {
        background-color: #303f55;
        border: 1px solid #303f55;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #ffffff;

        &:hover {
            opacity: 0.8;
        }
    }

    &__cool {
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:after {
            content: url('stylesheets/icons/cool.svg');
            margin-left: 10px;
        }
    }

    &:hover {
        background-color: #20b3ef;
        color: #ffffff;
    }
}
