.title {
    display: block;

    margin: 0;
    padding: 0;

    font-family: inherit;
    font-weight: 700;
    color: #1a284b;

    text-transform: uppercase;

    &_center {
        text-align: center;
    }

    &_is_big {
        font-size: 32px;
        line-height: 32px;

        & + .subtitle {
            font-family: inherit;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;

            color: #5d6780;
        }
    }

    &_is_medium {
        font-size: 30px;
        line-height: 34px;

        & + .subtitle {
            font-family: inherit;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;

            color: #5d6780;
        }
    }

    &_is_small {
        font-size: 16px;
        font-weight: 500;
        line-height: 17px;

        text-transform: capitalize;

        & + .subtitle {
            font-family: inherit;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;

            color: #848faa;
        }
    }
}

.paragraph {
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #848faa;
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .title {
        &_is_big {
            font-size: 52px;
            line-height: 50px;

            & + .subtitle {
                font-size: 18px;
                line-height: 32px;
            }
        }

        &_is_medium {
            font-size: 40px;
            line-height: 46px;

            & + .subtitle {
                font-size: 18px;
                line-height: 30px;
            }
        }

        &_is_small {
            font-size: 18px;
            font-weight: 500;
            line-height: 40px;

            & + .subtitle {
                font-size: 16px;
                line-height: 25px;
            }
        }
    }
}
