.center {
    text-align: center;
}

// Large devices (desktops, 992px and up)

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .center-sm {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .center-md {
        text-align: center;
    }

    .m-auto {
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .center-lg {
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .center-lg {
        text-align: center;
    }
}
